<div class="row">
    <div class="col-12 mb-3">
      <button class="btn btn-danger col-12">
        COMPOSE
      </button>
    </div>
    <div class="divider"></div>
    <div class="col-12">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" aria-selected="true">Inbox <span class="badge badge-light">42</span></a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" aria-selected="false">Starred</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" aria-selected="false">Important</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" aria-selected="false">Settings</a>
      </div>
    </div>
</div>